*{
  font-family: 'IBM Plex Sans', sans-serif;
}
body{
  background-color:white;
  padding: 0px;
  margin: 0px;
}
.main{
  height:100vh;
  padding: 0px !important;
  margin: 0px !important;
  max-width: none;
}
.row{
  height: 100%;
}
.left-wrapper{
  background-color:#2ed297;
  padding-top: 2%;
}
.right-wrapper{
  background-color: white;
  padding: 0px 10%;
}
.form-login{
  background-color: white;
  margin-top: 20%;
  padding-bottom: 40px;
  border-radius: 5%;
}
h2{
  font-family: 'Anton', sans-serif;
}
label{
  font-weight: 700;
  color: rgb(37, 37, 37);
}
input[type="text"]{
  background-color: white;
}
.form-control{
  background-color: white !important;
  border-radius: 0%;
  border: none;
  border-bottom: 2px solid #2ed297;
}
.w-95{
  width: 95%;
}
.w-60{
  width: 60%;
}
.fas{
  color: #2ed297;
}
.fa-users{
  font-size: 70px;
}
.alert-msg{
  background-color: F06543;
  width: 95%;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline;
  font-weight: 700;
}
.btn-login{
  background-color:#2ed297;
  font-family: 'Anton', sans-serif;
}
.btn-login:hover{
  background-color: #1cea9e;
}
.btn-logout{
  background-color: #F06543;
  font-family: 'Anton', sans-serif;
}
.btn-logout:hover{
  background-color: #f77352;
}
